<h1 class="mb-4">Hello</h1>

<h4 class="mb-4">Your Collge attendence app. That nobody needs.</h4>


<% if current_admin || current_student || current_teacher %>
  
<% else %>
  <h4 class="mb-4">Log in to your account:</h4>
  <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Student Login", new_student_session_path, class: "btn btn-outline-dark p-4" %>
      <%= link_to "Teacher Login", new_teacher_session_path, class: "btn btn-outline-dark p-4" %>
      <%= link_to "Admin Login", new_admin_session_path, class: "btn btn-outline-dark p-4" %>
  </div>
<% end %>
